<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Back</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>

<style>

.navbar-nav {
  margin-left: 480px;
  font-size: 18px;
}
.container{
  margin-left: 27%;
  margin-right: 30%;
}
.table .tr .th{
  margin-left: 10px;
  padding: 10px 25px;
}
</style>

<body>

  <nav id="navbar" class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(94, 218, 225)">
    <div class="container-fluid">
      <a class="navbar-brand" href=""><img
          src="https://cdn.pixabay.com/photo/2016/11/19/21/01/analysis-1841158_1280.jpg" alt="" height="40px"
          width="40px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="#">Home &nbsp  </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Services &nbsp </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">About &nbsp </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up &nbsp </a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Candidate Login</a></li>
              <li><a class="dropdown-item" href="#">Employer Login</a></li>
            </ul>
          </li>

        </ul>

      </div>
    </div>
  </nav>

  <!--form-->

<div class="container">

  <div class="row">

    <div class="col-lg-6">

      <table class="table table-striped table-bordered">

        <thead>

          <tr>

            <th>FullName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Message</th>

          </tr>
        </thead>
        <tbody>

          {{#each list}}

      <tr>
     </td>
    </div>

    <tr>

      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
       <td>{{this.phone}}</td>
      <td>{{this.message}}</td>

    </tr>

    {{/each}}
    </tbody>
    </table>

  </div>

</div>

</body>

</html> 
